.Slider {
  // width: 100%;
  min-height: 25rem;
  height: auto;
  display: flex;
  align-items: center;
  padding: 3rem 4rem;
  margin: 0 auto;
  flex-direction: column;
  // padding: 1rem rem;
  // overflow: hidden;

  @media only screen and (max-width: 900px) {
    padding: 1rem 1.5rem;
  }
  @media only screen and (max-width: 600px) {
    padding: 0.5rem 1rem;
  }
}
.MainContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 100%;
}
.Slide {
  white-space: nowrap;
  // position: absolute;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  // grid-gap: 4rem;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0.5rem 0;
  // height: 40rem;

  @media only screen and (max-width: 600px) {
    grid-gap: 2rem;
  }
  // scroll-snap-type: x mandatory;
}

.SlideContainer {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 0 2rem;
  position: relative;
  height: 100%;
  @media only screen and (max-width: 600px) {
    padding: 0 1rem;
  }
}
