.Slider {
  // width: 100%;
  height: auto;
  display: flex;
  min-height: 20rem;
  flex-direction: column;
  align-items: flex-start;

  max-width: 114rem;
  margin: 5rem auto;
  // padding: 1rem rem;
  // overflow: hidden;
  position: relative;

  h3 {
    &:first-of-type {
      font-size: 2.5rem;

      margin-bottom: 2rem;
    }
  }

  button {
    position: absolute;
    top: 42%;
  }
}
.Slide {
  white-space: nowrap;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-gap: 7rem;
}

.SlideContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
