.RatingBox {
  display: flex;
  justify-content: space-between;

  max-width: 100%;
  width: 30rem;
  height: auto;

  img {
    width: auto;
    max-height: 2rem;
    margin-right: 1.2rem;
  }

  // @media only screen and (max-width: 900px) {
  //   width: 100%;
  // }
}

.LogoBox {
  width: auto;
  display: flex;
  align-items: center;
}
